{% extends "base.html" %}
{% load i18n staticfiles %}

{% block content %}
<div id="viewContainer">


</div>
{% verbatim %}
<script type="text/template" id="routesList">
    <h2>Routes
        <a class="btn btn-success pull-right" href="#route/">Toevoegen</a>
    </h2>
    <table class="table table-bordered table-striped">
        <tr>
            <th>Lijn</th>
            <th>Eindbestemming</th>
            <th>Acties</th>
        </tr>
        <tbody id="routeRows">

        </tbody>
    </table>
</script>

<script type="text/template" id="routeRow">
        <td>{{ route_id }}</td>
        <td>{{ destination }}</td>
        <td><a class="btn btn-xs btn-default" href="#route/{{ id }}">Bewerk</a></td>
</script>

<script type="text/template" id="routeNew">
    <h2>Nieuwe Route</h2>
    <form class="row">
        <div class="col-lg-2">
            <input type="text" id="fieldRoute_id" class="form-control input-lg"
                   placeholder="Lijn" value="{{ route_id }}" />
        </div>
        <div class="col-lg-4">
            <input type="text" id="fieldDestination" class="form-control input-lg" placeholder="Eindbestemming" value="{{ destination }}" />
        </div>
        <div class="col-lg-2">
            <a id="save" class="btn btn-primary pull-right">Opslaan</a>
        </div>
    </form>
    <div class="row">
        <div id="map" class="col-lg-8"></div>
        <div id="stops" class="col-lg-4"></div>
    </div>
</script>
{% endverbatim %}

{% endblock %}

{% block extra_js %}
    <script type="text/javascript" src="{% static 'js/underscore.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/backbone.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/mustache.js' %}"></script>
    <script>
        $(function(){
          $.ajaxSetup({
            headers: {'X-CSRFToken': '{{ csrf_token }}'}
          });
        })
        var app = {}

        app.Route = Backbone.Model.extend();
        app.RouteCollection = Backbone.Collection.extend({
            model: app.Route
        });
        app.Route.prototype.urlRoot = "{% url 'backbone:routes_route' %}";
        app.RouteCollection.prototype.url = "{% url 'backbone:routes_route' %}";

        app.routesList = new app.RouteCollection();

        app.RouteListView = Backbone.View.extend({
            el: "#viewContainer",
            template: $('#routesList').html(),
            initialize: function() {
               app.routesList.on('add', this.addAll, this);
               app.routesList.on('reset', this.addAll, this);
               app.routesList.fetch();
               this.render();
            },
            addAll: function() {
                this.$('#routeRows').html('');
                app.routesList.each(this.addItem, this);
            },
            addItem: function(item) {
                var view = new app.RouteRowView({model: item});
                $('#routeRows').append(view.render().el);
            },
            render: function() {
                this.$el.html( Mustache.render(this.template));
            }
        });

        app.RouteRowView = Backbone.View.extend({
            tagName: 'tr',
            template: $('#routeRow').html(),
            render: function(){
                this.$el.html(Mustache.render(this.template, this.model.toJSON()));
                return this; // enable chained calls
            }
        });

        app.RouteNewView = Backbone.View.extend({
            el: "#viewContainer",
            template: $('#routeNew').html(),
            model: null,
            events: {
                'click #save': 'save'
            },
            initialize: function() {
               this.render();
            },
            render: function() {
                if (_.isNull(this.model)) {
                    this.$el.html( Mustache.render(this.template) );
                } else {
                    this.$el.html( Mustache.render(this.template, this.model.toJSON()) );
                }
                return this;
            },
            setRoute: function(id) {
                this.model = new app.Route({id: id});
                this.model.on('change', this.render, this)
                this.model.fetch();
            },
            save: function() {
                if (this.model == null) {
                    this.model = app.routesList.create();
                    this.model.on('change', this.render, this)
                }
                var route = this.$('#fieldRoute_id').val();
                var dest = this.$('#fieldDestination').val();
                this.model.save({
                    route_id: route,
                    destination: dest
                });
                /*app.routesList.sync();*/
            }
        });

        app.Router = Backbone.Router.extend({
            routes : {
                '' : 'showList',
                'route/(:id)' : 'showRoute',
            },
            showList: function() {
                 app.listView = new app.RouteListView();
            },
            showRoute: function(id) {
                app.routeView = new app.RouteNewView();
                if (id != null) {
                  app.routeView.setRoute(id);
                }
            }
        });
        app.router = new app.Router();
        Backbone.history.start();
        /*app.listView = new app.RouteListView();*/
    </script>

{% endblock %}