<div class="schedule" ng-controller="ScheduleCtrl as ctrl">
    <table class="table table-bordered">
        <tr>
            <th class="data-halte">Halte</th>
            <th ng-repeat="trip in trips">#{{ trip.pk }}&nbsp;<i class="glyphicon glyphicon-remove" ng-if="trips.length > 1" ng-click="removeTrip(trip)"></i></th>
            <th><a ng-click="addTrip(false)" ng-if="trips.length">Nieuwe rit</a></th>
        </tr>
        <tr ng-repeat="(stopIndex, patternStop) in current_stops">
            <td>
                <span ng-bind="getStopDetails(patternStop.stop).name" />
            </td>
            <td ng-repeat="(tripIndex, trip) in trips">
                <span ng-if="!trip.first && stopIndex > 0">{{ trip.stops[stopIndex].time }}</span>
                <input ng-model="patterns[trip.pattern].stops[stopIndex].departure_time" ng-if="trip.first && stopIndex != 0" />
                <input ng-model="trips[tripIndex].start_time_written" ng-if="stopIndex == 0" />
                <i class="glyphicon glyphicon-remove" ng-if="trip.first" ng-click="removeStop(patternStop)"></i>
            </td>
        </tr>
        <tr id="newRow">
            <td>
                <input ng-model="newStop.name" typeahead="stop as stop.name for stop in getStops($viewValue)"
                       typeahead-loading="loadingLocations" typeahead-template-url="js/templates/autocomplete.html" placeholder="Nieuwe halte" />
                <a ng-click="addStop()">Add</a>
            </td>
        </tr>
    </table>
</div>