<div class="schedule" ng-controller="ScheduleCtrl as ctrl">
    <table class="table table-bordered">
        <tr>
            <th class="data-halte">Halte</th>
            <th ng-repeat="trip in trips"> {{ trip.id }}</th>
            <th><a ng-click="addTrip()">Nieuwe rit</a></th>
        </tr>
        <tr ng-repeat="(stopIndex, stop) in getStops()">
            <td>
                <input value="{{stop.name}}" />
            </td>
            <td ng-repeat="(tripIndex, trip) in trips">
                <span ng-if="!trip.first && stopIndex > 0" ng-bind="trip.stops[stopIndex].time"></span>
                <input ng-model="patterns[trip.pattern].stops[stopIndex].time" ng-if="trip.first" />
                <input ng-model="trips[tripIndex].start_time" ng-if="!trip.first && stopIndex == 0" />
            </td>
        </tr>
        <tr id="newRow">
            <td>
                <input ng-model="newStop.name" placeholder="Nieuwe halte" />
                <a ng-click="addStop()">Add</a>
            </td>
        </tr>
    </table>
</div>